@import "tailwindcss";

/* login.css is for styling the login page */

.login-container {
    @apply mt-[20px] p-[40px] pt-[40px] border-[5px] rounded-[20px] max-w-[400px] min-h-[500px] bg-[#f0f0f0] mx-auto; 

    /* Switching from normal CSS to Tailwind CSS
    padding: 40px; p-[40px]
    border: '5px'; border-[5px]
    borderRadius: 20; rounded-[20px]
    maxWidth: 400; max-w-[400px]
    minHeight: 600; min-h-[600px]
    margin: 'auto'; mx-auto 
    backgroundColor: '#f0f0f0'; bg-[#f0f0f0]
    marginTop: 20; mt-[20px] */
   
}

.login-heading {
    @apply text-center text-[36px] m-0 mb-6; 

    /* Switching from normal CSS to Tailwind CSS
    textAlign: 'center'; text-center
    fontSize: 36; text-[36px]  */
}

#email {
    @apply block border-[2px] w-full p-[10px] mb-[20px]; 

    /* Switching from normal CSS to Tailwind CSS
    display: 'block'; block 
    border: '2px'; border-[2px]
    width: '100%'; w-full
    padding: 10; p-[10px]
    marginBottom: 20; mb-[20px]
    */
}

.button-container {
    @apply flex flex-col items-center; 

    /* Switching from normal CSS to Tailwind CSS
    display: 'flex'; flex
    flexDirection: 'column'; flex-col
    alignItems: 'center'; items-center
    */
}

.login {
    @apply mt-[20px] p-[5px] border-[2px] rounded-[25px] block h-[50px] w-[250px]; 

    /* Switching from normal CSS to Tailwind CSS
     marginTop: 20; mt-[20px]
     padding: 10; p-[10px]
     border: '2px'; border-[2px]
     borderRadius: 20; rounded-[20px]
     display: block; block 
     height: 50; h-[50px]
     width: 200; w-[200px] */
}

p {
    @apply text-center mt-[20px]; 

    /* Switching from normal CSS to Tailwind CSS
    textAlign: 'center'; text-center
    marginTop: 20; mt-[20px] */
}

.google-logo {
    @apply inline-block w-[20px] h-[20px] mr-[10px]; 

    /* Switching from normal CSS to Tailwind CSS
    display: 'inline-block'; inline-block
    width: 20; w-[20px]
    height: 20; h-[20px]
    marginRight: 10; mr-[10px] */
}

.login-With-Google {
    @apply mt-[20px] p-[5px] border-[2px] rounded-[25px] block h-[50px] w-[250px]; 

    /* Switching from normal CSS to Tailwind CSS
        marginTop: 20; mt-[20px]
        padding: 10; p-[10px]
        border: '2px'; border-[2px]
        borderRadius: 20; rounded-[20px]
        display: block; block
        height: 50; h-[50px]
        width: 250; w-[250px] */
     
}


    
